workspace/wsdlfile/S1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webxml.com.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://webxml.com.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webxml.com.cn/">
      <s:element name="getStockInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theStockCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStockInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStockInfoResult" type="tns:ArrayOfString"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getStockInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getStockInfo"/>
  </wsdl:message>
  <wsdl:message name="getStockInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getStockInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="getStockInfoSoapfault">
    <wsdl:part name="parameters" element="tns:getStockInfoResponse"/>
  </wsdl:message>
  <wsdl:portType name="StockInfoWSSoap">
    <wsdl:operation name="getStockInfo">
      <wsdl:input message="tns:getStockInfoSoapIn"/>
      <wsdl:output message="tns:getStockInfoSoapOut"/>
	  <wsdl:fault message="tns:getStockInfoSoapfault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockInfoWSSoap" type="tns:StockInfoWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStockInfo">
      <soap:operation soapAction="http://webxml.com.cn/getStockInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault>
        <soap:fault use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockInfoWS">
    <wsdl:port name="StockInfoWSSoap" binding="tns:StockInfoWSSoap">
      <soap:address location="http://www.webxml.com.cn/WebServices/StockInfoWS.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>