workspace/wsdlfile/SM1_merger.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="www.cea.com" xmlns:n1="Yangzhili" xmlns:n2="http://webxml.com.cn/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:saaaa="http://www.w3.org/2001/XMLSchema" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="www.cea.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ooooo="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Yangzhili">
      <s:element name="getInfoByMobilePhone">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="PhoneNumber" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="UserId" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInfoByMobilePhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="getInfoByMobilePhoneResult" type="n1:MobilePhone"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MobilePhone">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Mobile" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="QueryResult" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="0" name="Province" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="City" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="AreaCode" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PostCode" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Corp" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Card" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="MobilePhone" nillable="true" type="n1:MobilePhone"/>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webxml.com.cn/">
      <s:element name="getStockInfo">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="theStockCode" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="userID" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStockInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="getStockInfoResult" type="n2:ArrayOfString"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getStockInfoSoapIn">
    <wsdl:part name="parameters" element="n2:getStockInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStockInfoSoapOut">
    <wsdl:part name="parameters" element="n2:getStockInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInfoByMobilePhoneSoapIn">
    <wsdl:part name="parameters" element="n1:getInfoByMobilePhone">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInfoByMobilePhoneSoapOut">
    <wsdl:part name="parameters" element="n1:getInfoByMobilePhoneResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StockInfoWSSoap">
    <wsdl:operation name="getStockInfo">
      <wsdl:input message="n2:getStockInfoSoapIn">
    </wsdl:input>
      <wsdl:output message="n2:getStockInfoSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfoByMobilePhone">
      <wsdl:input message="n1:getInfoByMobilePhoneSoapIn">
    </wsdl:input>
      <wsdl:output message="n1:getInfoByMobilePhoneSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockInfoWSSoap" type="n2:StockInfoWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStockInfo">
      <soap:operation soapAction="http://webxml.com.cn/getStockInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfoByMobilePhone">
      <soap:operation soapAction="Yangzhili/getInfoByMobilePhone" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockInfoWS">
    <wsdl:port name="StockInfoWSSoap" binding="n2:StockInfoWSSoap">
      <soap:address location="http://www.webxml.com.cn/WebServices/StockInfoWS.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>