workspace/wsdlfile/original/addSRIRequest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:impl="http://DefaultNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://DefaultNamespace">
			<xsd:element name="ESBRequestHeader">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ServiceSn" nillable="false" type="xsd:string"/>
						<xsd:element name="ServiceId" nillable="false" type="xsd:string"/>
						<xsd:element name="RequesterId" nillable="false" type="xsd:string"/>
						<xsd:element name="SystemId" nillable="false" type="xsd:string"/>
						<xsd:element name="ChannelId" nillable="false" type="xsd:string"/>
						<xsd:element name="VersionId" nillable="false" type="xsd:string" default="1"/>
						<xsd:element name="Status" nillable="false" type="xsd:string" default="1"/>
						<xsd:element name="NeedRequest" nillable="false" type="xsd:string"/>
						<xsd:element name="LogPayloadFlag" nillable="true" type="xsd:string"/>
						<xsd:element name="TimeOut" nillable="true" type="xsd:string"/>
						<xsd:element name="CompressionFlag" nillable="true" type="xsd:string"/>
						<xsd:element name="EncryptionFlag" nillable="true" type="xsd:string"/>
						<xsd:element name="UserId" nillable="true" type="xsd:string"/>
						<xsd:element name="Password" nillable="true" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addSRIRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SRIGROUP" type="impl:ArraySRIGROUP"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ArraySRIGROUP">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="SRI" nillable="true" type="impl:ArraySRI"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArraySRI">
				<xsd:sequence>
					<xsd:element name="FULLNAME" type="xsd:string"/>
					<xsd:element name="REGISTRATIONNUMBER" type="xsd:string"/>
					<xsd:element name="SRIVALUE" type="xsd:string"/>
					<xsd:element name="SERVICECODE" type="xsd:string"/>
					<xsd:element name="SERVICENAME" type="xsd:string"/>
					<xsd:element name="SERVICELEVEL" type="xsd:string"/>
					<xsd:element name="SERVICETYPE" type="xsd:string"/>
					<xsd:element name="DESCRIPTION" type="xsd:string"/>
					<xsd:element name="INVALID_TIME" type="xsd:string"/>
					<xsd:element name="SOURCE" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="addSRIResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ADDSRIRETURN" type="impl:aADDSRIRETURN"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="aADDSRIRETURN">
				<xsd:sequence>
					<xsd:element name="SRIGROUP" type="impl:aSRIGROUP"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="aSRIGROUP">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="SRI" nillable="true" type="impl:aSRI"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="aSRI">
				<xsd:sequence>
					<xsd:element name="SRIID" type="xsd:string"/>
					<xsd:element name="REGISTRATIONNUMBER" type="xsd:string"/>
					<xsd:element name="FULLNAME" type="xsd:string"/>
					<xsd:element name="CODE" type="xsd:string"/>
					<xsd:element name="MESSAGE" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="addSRIFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Fault" type="tns:aFAULT"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="aFAULT">
				<xsd:sequence>
					<xsd:element name="faultcode" type="xsd:string"/>
					<xsd:element name="faultstring" type="xsd:string"/>
					<xsd:element name="detail" type="tns:aDETAIL"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="aDETAIL">
				<xsd:sequence>
					<xsd:element name="ADDSRIFAULTGROUP" type="tns:aADDSRIFAULTGROUP"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="aADDSRIFAULTGROUP">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="ADDSRIFAULT" nillable="true" type="tns:aADDSRIFAULT"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="aADDSRIFAULT">
				<xsd:sequence>
					<xsd:element name="REGISTRATIONNUMBER" type="xsd:string"/>
					<xsd:element name="DESCRIPTION" type="xsd:string"/>
					<xsd:element name="CODE" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="m_ESBHeaderMsg">
		<wsdl:part name="ESBHeader" element="impl:ESBRequestHeader"/>
	</wsdl:message>
	<wsdl:message name="addSRIRequestMessage">
		<wsdl:part name="parameters" element="impl:addSRIRequest"/>
	</wsdl:message>
	<wsdl:message name="addSRIResponseMessage">
		<wsdl:part name="parameters" element="impl:addSRIResponse"/>
	</wsdl:message>
	<wsdl:message name="addSRIFaultMessage">
		<wsdl:part name="parameters" element="impl:addSRIFault"/>
	</wsdl:message>
	<wsdl:portType name="addSRIService">
		<wsdl:operation name="addSRI">
			<wsdl:input name="addSRIRequestMessageInput" message="impl:addSRIRequestMessage"/>
			<wsdl:output name="addSRIResponseMessageOut" message="impl:addSRIResponseMessage"/>
			<wsdl:fault name="addSRIFaultMessage" message="impl:addSRIFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="addSRIServiceSoapBinding" type="impl:addSRIService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
		<wsdl:operation name="addSRI">
			<soap:operation soapAction="addSRI"/>
			<wsdl:input>
				<soap:header message="impl:m_ESBHeaderMsg" part="ESBHeader" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="impl:m_ESBHeaderMsg" part="ESBHeader" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="addSRIFaultMessage">
				<soap:body use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="addSRIServiceService">
		<wsdl:port name="addSRIServiceSoapBinding" binding="impl:addSRIServiceSoapBinding">
			<soap:address location="http://localhost:8080/ECIF/xmlservlet/XMLServlet"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>