workspace/wsdlfile/original/airlines-WService-soap.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://sysdata.provider.service.ceair.com/" name="AirlinesWService" targetNamespace="http://sysdata.provider.service.ceair.com/">
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://sysdata.vo.domain.ceair.com/" targetNamespace="http://sysdata.vo.domain.ceair.com/">
  <xsd:complexType name="AirLines">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element minOccurs="0" name="code3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="code4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="stockPre" type="xsd:string"/>
      <xsd:element minOccurs="0" name="enName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="cnName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="shortNameChn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="carryWay" type="xsd:string"/>
      <xsd:element name="cityId" type="xsd:long"/>
      <xsd:element name="countryId" type="xsd:long"/>
      <xsd:element minOccurs="0" name="address" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tel" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fax" type="xsd:string"/>
      <xsd:element minOccurs="0" name="zipcode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="contactName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="currency" type="xsd:string"/>
      <xsd:element minOccurs="0" name="flag" type="xsd:string"/>
      <xsd:element name="mainAirlinesId" type="xsd:long"/>
      <xsd:element minOccurs="0" name="isDomestic" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validity" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://sysdata.vo.domain.ceair.com/" xmlns:ns0="http://sysdata.provider.service.ceair.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sysdata.provider.service.ceair.com/">
  <xsd:import namespace="http://sysdata.vo.domain.ceair.com/"/>
  <xsd:complexType name="queryData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="xmLParam" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="queryDataResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:AirLines"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AirLines" type="ns1:AirLines"/>
  <xsd:element name="queryData" type="ns0:queryData"/>
  <xsd:element name="queryDataResponse" type="ns0:queryDataResponse"/>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="queryData">
        <wsdl:part element="ns1:queryData" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="queryDataResponse">
        <wsdl:part element="ns1:queryDataResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="AirlinesWService">
        <wsdl:operation name="queryData">
            <wsdl:input message="ns1:queryData" name="queryData"/>
            <wsdl:output message="ns1:queryDataResponse" name="queryDataResponse"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>