workspace/wsdlfile/original/ChangeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ChangeService" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="changeRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="changeType" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="queryDetailInformation" nillable="true" type="tns:queryDetailInformation"/>
      <xs:element minOccurs="0" name="usrID" type="xs:string"/>
      <xs:element minOccurs="0" name="usrPwd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryDetailInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT_END" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT_START" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changeRS">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="change" nillable="true" type="tns:change"/>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="change">
    <xs:sequence>
      <xs:element minOccurs="0" name="AIR_NUMBER" type="xs:int"/>
      <xs:element minOccurs="0" name="AIRCRAFT_TYPE_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="AIRCRAFT_TYPE_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="APPLY_DEPT" type="xs:string"/>
      <xs:element minOccurs="0" name="BAG_CLAIM_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="BAG_CLAIM_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="BOARDING_GATE_NBR_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="BOARDING_GATE_NBR_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CHANGE_REASON" type="xs:string"/>
      <xs:element minOccurs="0" name="CHANGE_REMARK" type="xs:string"/>
      <xs:element minOccurs="0" name="CHANGE_TYPE_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CHANGE_TYPE_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="CREATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DATA_FROM_FLAG" type="xs:string"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DPT_AC_POS_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="DPT_AC_POS_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="EST_DEPART_TIME_NEW" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EST_DEPART_TIME_OLD" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLIGHT_MANAGER_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="FLIGHT_MANAGER_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_HOURS" type="xs:double"/>
      <xs:element minOccurs="0" name="FLT_HOURS_REAL" type="xs:double"/>
      <xs:element minOccurs="0" name="FLT_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="HUNFEI_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="HUNFEI_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="LINE_TYPE" type="xs:string"/>
      <xs:element minOccurs="0" name="MINUS_SEAT_QTY" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="PEIE_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="PEIE_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="PLAN_DEPART_TIME_NEW" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PLAN_DEPART_TIME_OLD" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="SRV_TYPE_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="SRV_TYPE_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="TAIL_NO_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="TAIL_NO_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="TELEX_NO" type="xs:string"/>
      <xs:element minOccurs="0" name="UPDATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="WEEK_SHOW" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryChange" type="tns:queryChange"/>
  <xs:complexType name="queryChange">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:changeRQ"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryChangeResponse" type="tns:queryChangeResponse"/>
  <xs:complexType name="queryChangeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:changeRS"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryChangeResponse">
    <wsdl:part element="tns:queryChangeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryChange">
    <wsdl:part element="tns:queryChange" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ChangeServicePortType">
    <wsdl:operation name="queryChange">
      <wsdl:input message="tns:queryChange" name="queryChange">
    </wsdl:input>
      <wsdl:output message="tns:queryChangeResponse" name="queryChangeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChangeServiceSoapBinding" type="tns:ChangeServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryChange">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryChange">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryChangeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChangeService">
    <wsdl:port binding="tns:ChangeServiceSoapBinding" name="ChangeServicePort">
      <soap:address location="http://172.31.3.194:7602/basiccs/ws/com.ceair.pss.basic.service.ChangeService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>