workspace/wsdlfile/original/DynamicCostService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DynamicCostService" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SEARCH_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" type="tns:SEARCH_ITEM"/>
    </xs:sequence>
    <xs:attribute name="USR_ID" type="xs:string"/>
    <xs:attribute name="USR_PWD" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="SEARCH_ITEM">
    <xs:sequence/>
    <xs:attribute name="ARR_AIRPORT_CD" type="xs:string"/>
    <xs:attribute name="CARRIER_CD" type="xs:string"/>
    <xs:attribute name="DPT_AIRPORT_CD" type="xs:string"/>
    <xs:attribute name="FLT_DT_END" type="xs:string"/>
    <xs:attribute name="FLT_DT_START" type="xs:string"/>
    <xs:attribute name="FLT_NBR" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="RTN_FLIGHTDATA_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FLIGHTDATA_ERR_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="FLIGHTDATA_ERR_MSG" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="FLIGHTDATA_INFOLIST" type="tns:FLIGHTDATA_INFO"/>
      <xs:element minOccurs="0" name="USR_ID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHTDATA_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="base" type="tns:FLIGHT_BASE_INFO"/>
      <xs:element minOccurs="0" name="dcs" type="tns:FLIGHT_DCS_INFO"/>
      <xs:element minOccurs="0" name="dynamics" type="tns:FLIGHT_DYNAMICS_INFO"/>
      <xs:element minOccurs="0" name="fuel" type="tns:FLIGHT_FUEL_INFO"/>
      <xs:element minOccurs="0" name="FLIGHT_PASSENGER_AMT" type="xs:string"/>
      <xs:element minOccurs="0" name="FLIGHT_PASSENGER_DISTANCE" type="xs:string"/>
      <xs:element minOccurs="0" name="paylod" type="tns:FLIGHT_PAYLOAD"/>
      <xs:element minOccurs="0" name="FLIGHT_SEAT_DISTANCE" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_BASE_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARR_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DISTANCE" type="xs:double"/>
      <xs:element minOccurs="0" name="DPT_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_TYPE" type="xs:string"/>
      <xs:element minOccurs="0" name="LINE_SERIAL" type="xs:string"/>
      <xs:element minOccurs="0" name="SEAT_QTY" type="xs:int"/>
      <xs:element minOccurs="0" name="SEAT_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="SEAT_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="SEAT_QTY_Y" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_DCS_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADULT_QTY" type="xs:string"/>
      <xs:element minOccurs="0" name="CHILD_QTY" type="xs:string"/>
      <xs:element minOccurs="0" name="INFANT_QTY" type="xs:string"/>
      <xs:element minOccurs="0" name="LINE_ADULT_QTY" type="xs:string"/>
      <xs:element minOccurs="0" name="LINE_CHILD_QTY" type="xs:string"/>
      <xs:element minOccurs="0" name="LINE_INFANT_QTY" type="xs:string"/>
      <xs:element minOccurs="0" name="LINE_SEAT_QTY_C" type="xs:string"/>
      <xs:element minOccurs="0" name="LINE_SEAT_QTY_F" type="xs:string"/>
      <xs:element minOccurs="0" name="LINE_SEAT_QTY_Y" type="xs:string"/>
      <xs:element minOccurs="0" name="SEAT_QTY_C" type="xs:string"/>
      <xs:element minOccurs="0" name="SEAT_QTY_F" type="xs:string"/>
      <xs:element minOccurs="0" name="SEAT_QTY_Y" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_DYNAMICS_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTUAL_ARR_AIRPORT" type="xs:string"/>
      <xs:element minOccurs="0" name="ACTUAL_DPT_AIRPORT" type="xs:string"/>
      <xs:element minOccurs="0" name="ACTUAL_ARR_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ACTUAL_DPT_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="AGENT" type="xs:string"/>
      <xs:element minOccurs="0" name="AIRCRAFT_TYPE_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="AT_BRIDGE" type="xs:int"/>
      <xs:element minOccurs="0" name="BLOCK_OFF_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BLOCK_ON_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BRIDGE_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BRIDGE_TYPE" type="xs:int"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="EST_ARRIVAL_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EST_DEPART_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_DT_UTC" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_STATUS" type="xs:string"/>
      <xs:element minOccurs="0" name="LEG_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="OPTIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PLAN_ARRIVAL_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PLAN_DEPART_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="REASON" type="xs:string"/>
      <xs:element minOccurs="0" name="SHEET_ADULTS" type="xs:int"/>
      <xs:element minOccurs="0" name="SHEET_CHILDREN" type="xs:int"/>
      <xs:element minOccurs="0" name="SHEET_INFANTS" type="xs:int"/>
      <xs:element minOccurs="0" name="SRV_TYPE" type="xs:string"/>
      <xs:element minOccurs="0" name="TAIL_NO" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_FUEL_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADD_FUEL_WEIGHT" type="xs:double"/>
      <xs:element minOccurs="0" name="FUEL_WEIGHT_UNIT" type="xs:string"/>
      <xs:element minOccurs="0" name="ORI_FUEL_WEIGHT" type="xs:double"/>
      <xs:element minOccurs="0" name="REMAIN_FUEL_WEIGHT" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_PAYLOAD">
    <xs:sequence>
      <xs:element minOccurs="0" name="BAG_WEIGHT" type="xs:double"/>
      <xs:element minOccurs="0" name="MAX_TRAFFIC_LOAD" type="xs:double"/>
      <xs:element minOccurs="0" name="PASSENGER_WEIGHT" type="xs:double"/>
      <xs:element minOccurs="0" name="POS_WEIGHT" type="xs:double"/>
      <xs:element minOccurs="0" name="TOTAL_TRAFFIC_LOAD" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="search" type="tns:search"/>
  <xs:complexType name="search">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:SEARCH_INFO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="searchResponse" type="tns:searchResponse"/>
  <xs:complexType name="searchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:RTN_FLIGHTDATA_INFO"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="searchResponse">
    <wsdl:part element="tns:searchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part element="tns:search" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DynamicCostServicePortType">
    <wsdl:operation name="search">
      <wsdl:input message="tns:search" name="search">
    </wsdl:input>
      <wsdl:output message="tns:searchResponse" name="searchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DynamicCostServiceSoapBinding" type="tns:DynamicCostServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="search">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DynamicCostService">
    <wsdl:port binding="tns:DynamicCostServiceSoapBinding" name="DynamicCostServicePort">
      <soap:address location="http://172.31.3.194:7602/basiccs/ws/com.ceair.pss.basic.service.DynamicCostService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>