workspace/wsdlfile/original/PlanService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PlanService" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="planRQ">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="queryDetailInformation" nillable="true" type="tns:queryDetailInformation"/>
      <xs:element minOccurs="0" name="usrID" type="xs:string"/>
      <xs:element minOccurs="0" name="usrPwd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryDetailInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT_END" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT_START" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="planRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="plan" nillable="true" type="tns:plan"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="plan">
    <xs:sequence>
      <xs:element minOccurs="0" name="AC_OWNER" type="xs:string"/>
      <xs:element minOccurs="0" name="AIRCRAFT_TYPE_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="ARR_TERMINAL" type="xs:string"/>
      <xs:element minOccurs="0" name="ARR_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ARR_TIMEZONE" type="xs:int"/>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CARRIER_O" type="xs:string"/>
      <xs:element minOccurs="0" name="CREATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DEP_TERMINAL" type="xs:string"/>
      <xs:element minOccurs="0" name="DEP_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DEP_TIMEZONE" type="xs:int"/>
      <xs:element minOccurs="0" name="DES_LOC" type="xs:int"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR_O" type="xs:string"/>
      <xs:element minOccurs="0" name="LEG_SEQ" type="xs:int"/>
      <xs:element minOccurs="0" name="LINE_SERIAL" type="xs:string"/>
      <xs:element minOccurs="0" name="MEAL_SERVICE_NOTE" type="xs:string"/>
      <xs:element minOccurs="0" name="MODIFIED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ORI_LOC" type="xs:int"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="SEAT_LAYOUT" type="xs:string"/>
      <xs:element minOccurs="0" name="SEAT_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="SEAT_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="SEAT_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="SEG_TYPE" type="xs:string"/>
      <xs:element minOccurs="0" name="SHARE_FLIGHTS" type="xs:string"/>
      <xs:element minOccurs="0" name="WEEK_SHOW" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryPlan" type="tns:queryPlan"/>
  <xs:complexType name="queryPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:planRQ"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryPlanResponse" type="tns:queryPlanResponse"/>
  <xs:complexType name="queryPlanResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:planRS"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryPlan">
    <wsdl:part element="tns:queryPlan" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryPlanResponse">
    <wsdl:part element="tns:queryPlanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PlanServicePortType">
    <wsdl:operation name="queryPlan">
      <wsdl:input message="tns:queryPlan" name="queryPlan">
    </wsdl:input>
      <wsdl:output message="tns:queryPlanResponse" name="queryPlanResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlanServiceSoapBinding" type="tns:PlanServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryPlan">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryPlan">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryPlanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlanService">
    <wsdl:port binding="tns:PlanServiceSoapBinding" name="PlanServicePort">
      <soap:address location="http://172.31.3.194:7602/basiccs/ws/com.ceair.pss.basic.service.PlanService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>