workspace/wsdlfile/original/planetype-WService-soap.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://sysdata.provider.service.ceair.com/" name="PlanetypeWService" targetNamespace="http://sysdata.provider.service.ceair.com/">
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://sysdata.vo.domain.ceair.com/" targetNamespace="http://sysdata.vo.domain.ceair.com/">
  <xsd:complexType name="Planetype">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element minOccurs="0" name="typeCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="enName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="cnName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="typeCategory" type="xsd:string"/>
      <xsd:element minOccurs="0" name="iaco" type="xsd:string"/>
      <xsd:element minOccurs="0" name="property" type="xsd:string"/>
      <xsd:element minOccurs="0" name="seriesCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="seriesName" type="xsd:string"/>
      <xsd:element name="seatSum" type="xsd:long"/>
      <xsd:element name="fcabinSeat" type="xsd:long"/>
      <xsd:element name="ccabinSeat" type="xsd:long"/>
      <xsd:element name="ycabinSeat" type="xsd:long"/>
      <xsd:element name="tax" type="xsd:long"/>
      <xsd:element minOccurs="0" name="engineType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validity" type="xsd:string"/>
      <xsd:element minOccurs="0" name="auxilaryCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="typeTag" type="xsd:string"/>
      <xsd:element minOccurs="0" name="usemode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="delyes" type="xsd:string"/>
      <xsd:element minOccurs="0" name="isnarrowflt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="singlelimitwt" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://sysdata.vo.domain.ceair.com/" xmlns:ns0="http://sysdata.provider.service.ceair.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sysdata.provider.service.ceair.com/">
  <xsd:import namespace="http://sysdata.vo.domain.ceair.com/"/>
  <xsd:complexType name="queryData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="xmLParam" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="queryDataResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:Planetype"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="queryData" type="ns0:queryData"/>
  <xsd:element name="Planetype" type="ns1:Planetype"/>
  <xsd:element name="queryDataResponse" type="ns0:queryDataResponse"/>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="queryData">
        <wsdl:part element="ns1:queryData" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="queryDataResponse">
        <wsdl:part element="ns1:queryDataResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="PlanetypeWService">
        <wsdl:operation name="queryData">
            <wsdl:input message="ns1:queryData" name="queryData"/>
            <wsdl:output message="ns1:queryDataResponse" name="queryDataResponse"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>