workspace/wsdlfile/original/TransferService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TransferService" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="transferRQ">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="queryDetailInformation" nillable="true" type="tns:queryDetailInformation"/>
      <xs:element minOccurs="0" name="usrID" type="xs:string"/>
      <xs:element minOccurs="0" name="usrPwd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryDetailInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT_END" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT_START" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transferRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="transfer" nillable="true" type="tns:transfer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGENT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="AGENT_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CRW_DEP_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CRW_DEP_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="DD" type="xs:string"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DI" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DEP_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DEP_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="ID" type="xs:string"/>
      <xs:element minOccurs="0" name="IF_NO" type="xs:string"/>
      <xs:element minOccurs="0" name="IF_STA" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="II" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="PRT_DEP_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="PRT_DEP_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="TFP_AIRPORT" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryTransfer" type="tns:queryTransfer"/>
  <xs:complexType name="queryTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:transferRQ"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryTransferResponse" type="tns:queryTransferResponse"/>
  <xs:complexType name="queryTransferResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:transferRS"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryTransferResponse">
    <wsdl:part element="tns:queryTransferResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryTransfer">
    <wsdl:part element="tns:queryTransfer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TransferServicePortType">
    <wsdl:operation name="queryTransfer">
      <wsdl:input message="tns:queryTransfer" name="queryTransfer">
    </wsdl:input>
      <wsdl:output message="tns:queryTransferResponse" name="queryTransferResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransferServiceSoapBinding" type="tns:TransferServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryTransfer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryTransfer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryTransferResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransferService">
    <wsdl:port binding="tns:TransferServiceSoapBinding" name="TransferServicePort">
      <soap:address location="http://172.31.3.194:7602/basiccs/ws/com.ceair.pss.basic.service.TransferService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>