workspace/wsdlold/M1_replace.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="Yangzhili" xmlns:n1="Yangzhili" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Yangzhili">
      <s:element name="getInfoByMobilePhone">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="PhoneNumber" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="UserId" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInfoByMobilePhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="getInfoByMobilePhoneResult" type="n1:MobilePhone"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MobilePhone">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Mobile" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="QueryResult" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="0" name="Province" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="City" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="AreaCode" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PostCode" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Corp" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Card" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="MobilePhone" nillable="true" type="n1:MobilePhone"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getInfoByMobilePhoneSoapIn">
    <wsdl:part name="parameters" element="n1:getInfoByMobilePhone">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInfoByMobilePhoneSoapOut">
    <wsdl:part name="parameters" element="n1:getInfoByMobilePhoneResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MobilePhoneServiceSoap">
    <wsdl:operation name="getInfoByMobilePhone">
      <wsdl:input message="n1:getInfoByMobilePhoneSoapIn">
    </wsdl:input>
      <wsdl:output message="n1:getInfoByMobilePhoneSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MobilePhoneServiceSoap" type="n1:MobilePhoneServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getInfoByMobilePhone">
      <soap:operation soapAction="Yangzhili/getInfoByMobilePhone" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobilePhoneService">
    <wsdl:port name="MobilePhoneServiceSoap" binding="n1:MobilePhoneServiceSoap">
      <soap:address location="http://webservice.36wu.com/MobilePhoneService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
