workspace/wsdlold/SM1_withfault.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="www.cea.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="www.cea.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:n1="Yangzhili" xmlns:n2="http://webxml.com.cn/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Yangzhili">
      <s:element name="getInfoByMobilePhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInfoByMobilePhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInfoByMobilePhoneResult" type="n1:MobilePhone" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MobilePhone">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QueryResult" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AreaCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Corp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Card" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MobilePhone" nillable="true" type="n1:MobilePhone" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webxml.com.cn/">
      <s:element name="getStockInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theStockCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStockInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStockInfoResult" type="n2:ArrayOfString"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getInfoByMobilePhoneSoapIn">
    <wsdl:part name="parameters" element="n1:getInfoByMobilePhone" />
  </wsdl:message>
  <wsdl:message name="getInfoByMobilePhoneSoapOut">
    <wsdl:part name="parameters" element="n1:getInfoByMobilePhoneResponse" />
  </wsdl:message>
  <wsdl:message name="getInfoByMobilePhoneSoapFault">
    <wsdl:part name="parameters" element="n1:getInfoByMobilePhoneResponse" />
  </wsdl:message>
  
  <wsdl:message name="getStockInfoSoapIn">
    <wsdl:part name="parameters" element="n2:getStockInfo"/>
  </wsdl:message>
  <wsdl:message name="getStockInfoSoapOut">
    <wsdl:part name="parameters" element="n2:getStockInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="getStockInfoSoapFault">
    <wsdl:part name="parameters" element="n2:getStockInfoResponse"/>
  </wsdl:message>
  
  <wsdl:portType name="SMServiceSoap">
  
    <wsdl:operation name="getInfoByMobilePhone">
      <wsdl:input message="tns:getInfoByMobilePhoneSoapIn" />
      <wsdl:output message="tns:getInfoByMobilePhoneSoapOut" />
	  <wsdl:fault message="tns:getInfoByMobilePhoneSoapFault"/>	  
    </wsdl:operation>
	
    <wsdl:operation name="getStockInfo">
      <wsdl:input message="tns:getStockInfoSoapIn"/>
      <wsdl:output message="tns:getStockInfoSoapOut"/>	  
	  <wsdl:fault message="tns:getStockInfoSoapFault"/>
	  
    </wsdl:operation>	
  </wsdl:portType>
  <wsdl:binding name="SMServiceSoap" type="tns:SMServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getInfoByMobilePhone">
      <soap:operation soapAction="Yangzhili/getInfoByMobilePhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
	  <wsdl:fault>
        <soap:fault use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStockInfo">
      <soap:operation soapAction="http://webxml.com.cn/getStockInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault>
        <soap:fault use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMService">
    <wsdl:port name="SMServiceSoap" binding="tns:SMServiceSoap">
      <soap:address location="http://webservice.36wu.com/MobilePhoneService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>