workspace/wsdlold/35wsdl/BaseService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BaseService" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="baseRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="baseQueryInfo" type="tns:baseQueryInfo"/>
      <xs:element minOccurs="0" name="usrID" type="xs:string"/>
      <xs:element minOccurs="0" name="usrPwd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baseQueryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="UPDATED_TIME" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baseRS">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="base" nillable="true" type="tns:base"/>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="base">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARR_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CARRIER_CD_OP" type="xs:string"/>
      <xs:element minOccurs="0" name="DISTANCE" type="xs:double"/>
      <xs:element minOccurs="0" name="DPT_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR_OP" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_PLAN_DPT_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_STATUS" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_TYPE" type="xs:string"/>
      <xs:element minOccurs="0" name="IO_FLAG" type="xs:string"/>
      <xs:element minOccurs="0" name="LEG_FLAG" type="xs:string"/>
      <xs:element minOccurs="0" name="LEG_SEQ" type="xs:int"/>
      <xs:element minOccurs="0" name="LINE_SERIAL" type="xs:string"/>
      <xs:element minOccurs="0" name="PLAN_ARR_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PLAN_DPT_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="REMAIN_FLAG" type="xs:string"/>
      <xs:element minOccurs="0" name="UPDATED_TIME" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryBase" type="tns:queryBase"/>
  <xs:complexType name="queryBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:baseRQ"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryBaseResponse" type="tns:queryBaseResponse"/>
  <xs:complexType name="queryBaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseRS"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryBaseResponse">
    <wsdl:part element="tns:queryBaseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryBase">
    <wsdl:part element="tns:queryBase" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BaseServicePortType">
    <wsdl:operation name="queryBase">
      <wsdl:input message="tns:queryBase" name="queryBase">
    </wsdl:input>
      <wsdl:output message="tns:queryBaseResponse" name="queryBaseResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BaseServiceSoapBinding" type="tns:BaseServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryBase">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryBase">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryBaseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaseService">
    <wsdl:port binding="tns:BaseServiceSoapBinding" name="BaseServicePort">
      <soap:address location="http://172.31.3.194:7602/basiccs/ws/com.ceair.pss.basic.service.BaseService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>