workspace/wsdlold/35wsdl/DcsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DcsService" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="dcsRQ">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="queryInformationDcs" nillable="true" type="tns:queryInformationDcs"/>
      <xs:element minOccurs="0" name="usrID" type="xs:string"/>
      <xs:element minOccurs="0" name="usrPwd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryInformationDcs">
    <xs:sequence>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dcsRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="dcs" nillable="true" type="tns:dcs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dcs">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABC_STATUS" type="xs:string"/>
      <xs:element minOccurs="0" name="AIRCRAFT_POS" type="xs:string"/>
      <xs:element minOccurs="0" name="AIRCRAFT_TYPE_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="AIRCRAFT_VERSION" type="xs:string"/>
      <xs:element minOccurs="0" name="AV_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="AV_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="AV_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="BK_TERMINAL" type="xs:int"/>
      <xs:element minOccurs="0" name="BOARDING_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CAP_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="CAP_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="CAP_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CAW" type="xs:int"/>
      <xs:element minOccurs="0" name="CC_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CI_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CND_NBR" type="xs:int"/>
      <xs:element minOccurs="0" name="CNF_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="CNF_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="CNF_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="CODESHARE_FLIGHTS" type="xs:string"/>
      <xs:element minOccurs="0" name="CONTROL_OPERATOR" type="xs:int"/>
      <xs:element minOccurs="0" name="CONTROL_TERMINAL" type="xs:int"/>
      <xs:element minOccurs="0" name="CWT" type="xs:int"/>
      <xs:element minOccurs="0" name="ESTIMATED_DPT_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_MARK" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_STATUS_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="GATE" type="xs:string"/>
      <xs:element minOccurs="0" name="MAX_BOARDING_NBR" type="xs:int"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_TZ" type="xs:int"/>
      <xs:element minOccurs="0" name="PAD_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="PAD_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="PAD_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="SCHEDULED_ARR_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="SCHEDULED_DPT_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="SCHEDULED_DPT_TIME_GMT" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="TAIL_NO" type="xs:string"/>
      <xs:element minOccurs="0" name="TC_STATUS" type="xs:string"/>
      <xs:element minOccurs="0" name="UAW" type="xs:int"/>
      <xs:element minOccurs="0" name="UPDATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="UWT" type="xs:int"/>
      <xs:element minOccurs="0" name="VIRTUAL_FLIGHT" type="xs:string"/>
      <xs:element minOccurs="0" name="WEIGHT_NBR" type="xs:int"/>
      <xs:element minOccurs="0" name="C_CLASS_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="F_CLASS_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="Y_CLASS_CD" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryDcs" type="tns:queryDcs"/>
  <xs:complexType name="queryDcs">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dcsRQ"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryDcsResponse" type="tns:queryDcsResponse"/>
  <xs:complexType name="queryDcsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dcsRS"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryDcsResponse">
    <wsdl:part element="tns:queryDcsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryDcs">
    <wsdl:part element="tns:queryDcs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DcsServicePortType">
    <wsdl:operation name="queryDcs">
      <wsdl:input message="tns:queryDcs" name="queryDcs">
    </wsdl:input>
      <wsdl:output message="tns:queryDcsResponse" name="queryDcsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DcsServiceSoapBinding" type="tns:DcsServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryDcs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryDcs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryDcsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DcsService">
    <wsdl:port binding="tns:DcsServiceSoapBinding" name="DcsServicePort">
      <soap:address location="http://172.31.3.194:7602/basiccs/ws/com.ceair.pss.basic.service.DcsService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>