workspace/wsdlold/35wsdl/DurationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DurationService" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="durationRQ">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="durationQuery" nillable="true" type="tns:durationQuery"/>
      <xs:element minOccurs="0" name="usrID" type="xs:string"/>
      <xs:element minOccurs="0" name="usrPwd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="durationQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="durationRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="duration" nillable="true" type="tns:duration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="duration">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DURATION" type="xs:double"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="UPDATED_TIME" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryDuration" type="tns:queryDuration"/>
  <xs:complexType name="queryDuration">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:durationRQ"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryDurationResponse" type="tns:queryDurationResponse"/>
  <xs:complexType name="queryDurationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:durationRS"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryDurationResponse">
    <wsdl:part element="tns:queryDurationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryDuration">
    <wsdl:part element="tns:queryDuration" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DurationServicePortType">
    <wsdl:operation name="queryDuration">
      <wsdl:input message="tns:queryDuration" name="queryDuration">
    </wsdl:input>
      <wsdl:output message="tns:queryDurationResponse" name="queryDurationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DurationServiceSoapBinding" type="tns:DurationServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryDuration">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryDuration">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryDurationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DurationService">
    <wsdl:port binding="tns:DurationServiceSoapBinding" name="DurationServicePort">
      <soap:address location="http://172.31.3.194:7602/basiccs/ws/com.ceair.pss.basic.service.DurationService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>