workspace/wsdlold/35wsdl/FlightDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FlightDataService" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="flightDataSearchInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="SEARCH_ITEM" type="tns:SEARCH_ITEM"/>
      <xs:element minOccurs="0" name="USR_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="USR_PWD" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SEARCH_ITEM">
    <xs:sequence>
      <xs:element minOccurs="0" name="CRW_DEP_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CRW_DEP_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DEP_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DEP_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT_TYPE" type="xs:string"/>
      <xs:element minOccurs="0" name="MGR_DEP_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="MGR_DEP_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="OP_AIRPORT_CODE" type="xs:string"/>
      <xs:element minOccurs="0" name="OP_AIRPORT_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="PRT_DEP_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="PRT_DEP_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="QUERY_TYPE" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RTN_FLIGHTDATA_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FLIGHTDATA_ERR_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="FLIGHTDATA_ERR_MSG" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="FLIGHTDATA_LISTINFO" type="tns:FLIGHTDATA_LISTINFO"/>
      <xs:element minOccurs="0" name="USR_ID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHTDATA_LISTINFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FLIGHT_AOG_INFO" type="tns:FLIGHT_AOG_INFO"/>
      <xs:element minOccurs="0" name="FLIGHT_BASE_INFO" type="tns:FLIGHT_BASE_INFO"/>
      <xs:element minOccurs="0" name="FLIGHT_CHANGE_LISTINFO" type="tns:FLIGHT_CHANGE_LISTINFO"/>
      <xs:element minOccurs="0" name="FLIGHT_COST_INFO" type="tns:FLIGHT_COST_INFO"/>
      <xs:element minOccurs="0" name="FLIGHT_DCS_INFO" type="tns:FLIGHT_DCS_INFO"/>
      <xs:element minOccurs="0" name="FLIGHT_DYNAMICS_INFO" type="tns:FLIGHT_DYNAMICS_INFO"/>
      <xs:element minOccurs="0" name="FLIGHT_ICS_INFO" type="tns:FLIGHT_ICS_INFO"/>
      <xs:element minOccurs="0" name="FLIGHT_NERVE_INFO" type="tns:FLIGHT_NERVE_INFO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_AOG_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IS_AOG" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_BASE_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARR_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DISTANCE" type="xs:double"/>
      <xs:element minOccurs="0" name="DPT_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_TYPE" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_CHANGE_LISTINFO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="FLIGHT_CHANGE_INFO" type="tns:FLIGHT_CHANGE_INFO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_CHANGE_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AIR_NUMBER" type="xs:int"/>
      <xs:element minOccurs="0" name="AIRCRAFT_TYPE_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="AIRCRAFT_TYPE_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="APPLY_DEPT" type="xs:string"/>
      <xs:element minOccurs="0" name="CHANGE_REASON" type="xs:string"/>
      <xs:element minOccurs="0" name="CHANGE_REMARK" type="xs:string"/>
      <xs:element minOccurs="0" name="CHANGE_TYPE_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CHANGE_TYPE_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="CREATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DATA_FROM_FLAG" type="xs:string"/>
      <xs:element minOccurs="0" name="DPT_AC_POS_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="DPT_AC_POS_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="EST_DEPART_TIME_NEW" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EST_DEPART_TIME_OLD" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLIGHT_MANAGER_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="FLIGHT_MANAGER_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_HOURS" type="xs:double"/>
      <xs:element minOccurs="0" name="FLT_HOURS_REAL" type="xs:double"/>
      <xs:element minOccurs="0" name="HUNFEI_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="HUNFEI_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="LINE_TYPE" type="xs:string"/>
      <xs:element minOccurs="0" name="MINUS_SEAT_QTY" type="xs:string"/>
      <xs:element minOccurs="0" name="PEIE_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="PEIE_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="PLAN_DEPART_TIME_NEW" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PLAN_DEPART_TIME_OLD" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="SRV_TYPE_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="SRV_TYPE_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="TAIL_NO_NEW" type="xs:string"/>
      <xs:element minOccurs="0" name="TAIL_NO_OLD" type="xs:string"/>
      <xs:element minOccurs="0" name="TELEX_NO" type="xs:string"/>
      <xs:element minOccurs="0" name="UPDATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="WEEK_SHOW" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_COST_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="COST_ALL" type="xs:double"/>
      <xs:element minOccurs="0" name="COST_CHANGED_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="COST_FIXED" type="xs:double"/>
      <xs:element minOccurs="0" name="EARNING_ALL" type="xs:double"/>
      <xs:element minOccurs="0" name="FEE_PERIOD" type="xs:double"/>
      <xs:element minOccurs="0" name="MARGINAL_CONTRIBUTION" type="xs:double"/>
      <xs:element minOccurs="0" name="PNL" type="xs:double"/>
      <xs:element minOccurs="0" name="RATE_PSG" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_DCS_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADULT_QTY" type="xs:int"/>
      <xs:element minOccurs="0" name="CET_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="CET_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="CET_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="CHECKIN_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="CHECKIN_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="CHECKIN_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="CHILD_QTY" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_DYNAMICS_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTUAL_ARR_AIRPORT" type="xs:string"/>
      <xs:element minOccurs="0" name="ACTUAL_ARR_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ACTUAL_DPT_AIRPORT" type="xs:string"/>
      <xs:element minOccurs="0" name="ACTUAL_DPT_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="AGENT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="AGENT_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="AIRCRAFT_TYPE_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="ARRIVAL_AC_POS" type="xs:string"/>
      <xs:element minOccurs="0" name="ARRIVAL_TERMINAL" type="xs:string"/>
      <xs:element minOccurs="0" name="BAG_CLAIM" type="xs:string"/>
      <xs:element minOccurs="0" name="BLOCK_OFF_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BLOCK_ON_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BOARD_BEGIN_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BOARD_END_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BOARDING_GATE_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="CABIN_CLOSE_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CABIN_OPEN_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CARGO_CLOSE_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CARGO_OPEN_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CHECKIN_COUNTER" type="xs:string"/>
      <xs:element minOccurs="0" name="CREATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CRW_DEP_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CRW_DEP_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="DDF_NOW" type="xs:string"/>
      <xs:element minOccurs="0" name="DELAY_DURATION" type="xs:int"/>
      <xs:element minOccurs="0" name="DEST_SLIDING" type="xs:int"/>
      <xs:element minOccurs="0" name="DPT_AC_POS" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DPT_TERMINAL" type="xs:string"/>
      <xs:element minOccurs="0" name="EST_ARRIVAL_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EST_DEPART_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_DEP_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DEP_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_DT_BJ" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR_SFX" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_STATUS" type="xs:string"/>
      <xs:element minOccurs="0" name="FLY_STATUS" type="xs:string"/>
      <xs:element minOccurs="0" name="LEG_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="ONBOARD_PERSON" type="xs:int"/>
      <xs:element minOccurs="0" name="OPTIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ORIG_SLIDING" type="xs:int"/>
      <xs:element minOccurs="0" name="PLAN_ARR_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PLAN_DEPART_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PRT_DEP_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="PRT_DEP_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="REASON" type="xs:string"/>
      <xs:element minOccurs="0" name="REMARK" type="xs:string"/>
      <xs:element minOccurs="0" name="SRV_TYPE" type="xs:string"/>
      <xs:element minOccurs="0" name="TAIL_NO" type="xs:string"/>
      <xs:element minOccurs="0" name="UPDATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="VIP" type="xs:int"/>
      <xs:element minOccurs="0" name="VIPX" type="xs:int"/>
      <xs:element minOccurs="0" name="VVIP" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_ICS_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BKD_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="BKD_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="BKD_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="SEAT_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="SEAT_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="SEAT_QTY_Y" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHT_NERVE_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BOARDING_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CABIN_CREW_ARR_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="OFFPLAN_TIME" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="search" type="tns:search"/>
  <xs:complexType name="search">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:flightDataSearchInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="searchResponse" type="tns:searchResponse"/>
  <xs:complexType name="searchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:RTN_FLIGHTDATA_INFO"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="searchResponse">
    <wsdl:part element="tns:searchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part element="tns:search" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FlightDataServicePortType">
    <wsdl:operation name="search">
      <wsdl:input message="tns:search" name="search">
    </wsdl:input>
      <wsdl:output message="tns:searchResponse" name="searchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightDataServiceSoapBinding" type="tns:FlightDataServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="search">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightDataService">
    <wsdl:port binding="tns:FlightDataServiceSoapBinding" name="FlightDataServicePort">
      <soap:address location="http://172.31.3.194:7602/basiccs/ws/com.ceair.pss.basic.service.FlightDataService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>