workspace/wsdlold/35wsdl/ServiceInfoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ServiceInfoService" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="serviceInfoRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="serviceInfoQuery" type="tns:serviceInfoQuery"/>
      <xs:element minOccurs="0" name="usrID" type="xs:string"/>
      <xs:element minOccurs="0" name="usrPwd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceInfoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:string"/>
      <xs:element minOccurs="0" name="UPDATED_TIME" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceInfoRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceInfo" nillable="true" type="tns:serviceInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AC_TYPE" type="xs:string"/>
      <xs:element minOccurs="0" name="ARRAPT_ALL_ZHS" type="xs:string"/>
      <xs:element minOccurs="0" name="ARRTIMEZONE" type="xs:string"/>
      <xs:element minOccurs="0" name="ARR_AC_LOC" type="xs:string"/>
      <xs:element minOccurs="0" name="ARR_AC_LOC_1" type="xs:string"/>
      <xs:element minOccurs="0" name="ARR_AGT" type="xs:string"/>
      <xs:element minOccurs="0" name="ARR_AIRPORT" type="xs:string"/>
      <xs:element minOccurs="0" name="ARR_GATE" type="xs:string"/>
      <xs:element minOccurs="0" name="ARR_TERMINAL" type="xs:string"/>
      <xs:element minOccurs="0" name="BGG_WAIT" type="xs:string"/>
      <xs:element minOccurs="0" name="BGG_WEIGHT" type="xs:string"/>
      <xs:element minOccurs="0" name="BLOCK_OFF_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BLOCK_ON_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BOARD_BEGIN_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BOARD_END_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CAB_CLOSE_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CAB_OPEN_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CARRIER" type="xs:string"/>
      <xs:element minOccurs="0" name="CGO_WEIGHT" type="xs:string"/>
      <xs:element minOccurs="0" name="CHECK_IN" type="xs:string"/>
      <xs:element minOccurs="0" name="DCS_ADULT_PAX" type="xs:string"/>
      <xs:element minOccurs="0" name="DCS_BNS_PAX" type="xs:string"/>
      <xs:element minOccurs="0" name="DCS_CHILD_PAX" type="xs:string"/>
      <xs:element minOccurs="0" name="DCS_CLOSE_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DCS_ECN_PAX" type="xs:string"/>
      <xs:element minOccurs="0" name="DCS_FST_PAX" type="xs:string"/>
      <xs:element minOccurs="0" name="DCS_INFANT_PAX" type="xs:string"/>
      <xs:element minOccurs="0" name="DCS_PAX" type="xs:string"/>
      <xs:element minOccurs="0" name="DCS_VIP_PAX" type="xs:string"/>
      <xs:element minOccurs="0" name="DELAYFLAG" type="xs:string"/>
      <xs:element minOccurs="0" name="DELAY_CODE" type="xs:string"/>
      <xs:element minOccurs="0" name="DELAY_DESC" type="xs:string"/>
      <xs:element minOccurs="0" name="DELAY_REASON" type="xs:string"/>
      <xs:element minOccurs="0" name="DELETE_FLAG" type="xs:string"/>
      <xs:element minOccurs="0" name="DEPTAPT_ALL_ZHS" type="xs:string"/>
      <xs:element minOccurs="0" name="DEPTTIMEZONE" type="xs:string"/>
      <xs:element minOccurs="0" name="DEPT_AC_LOC" type="xs:string"/>
      <xs:element minOccurs="0" name="DEPT_AC_LOC_1" type="xs:string"/>
      <xs:element minOccurs="0" name="DEPT_AGT" type="xs:string"/>
      <xs:element minOccurs="0" name="DEPT_AIRPORT" type="xs:string"/>
      <xs:element minOccurs="0" name="DEPT_GATE" type="xs:string"/>
      <xs:element minOccurs="0" name="DEPT_TERMINAL" type="xs:string"/>
      <xs:element minOccurs="0" name="DISPATCH_DESC" type="xs:string"/>
      <xs:element minOccurs="0" name="DISPATCH_REASON" type="xs:string"/>
      <xs:element minOccurs="0" name="EST_ARR_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EST_DEPT_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLIGHT_NO" type="xs:string"/>
      <xs:element minOccurs="0" name="FLIGHT_NO_DISP" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_PROP" type="xs:string"/>
      <xs:element minOccurs="0" name="INT_OR_DOM" type="xs:string"/>
      <xs:element minOccurs="0" name="LEG_ID" type="xs:int"/>
      <xs:element minOccurs="0" name="LINE_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="LOAD_MAX_WEIGHT" type="xs:string"/>
      <xs:element minOccurs="0" name="MAIL_WEIGHT" type="xs:string"/>
      <xs:element minOccurs="0" name="PDATE" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PLAN_ARR_AIRPORT" type="xs:string"/>
      <xs:element minOccurs="0" name="PLAN_ARR_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PLAN_DEPT_AIRPORT" type="xs:string"/>
      <xs:element minOccurs="0" name="PLAN_DEPT_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="REAL_ARR_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="REAL_DEPT_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="REMARK" type="xs:string"/>
      <xs:element minOccurs="0" name="RES_BNS_PAX" type="xs:string"/>
      <xs:element minOccurs="0" name="RES_FST_PAX" type="xs:string"/>
      <xs:element minOccurs="0" name="SEAT_NUM" type="xs:string"/>
      <xs:element minOccurs="0" name="SPCSVC_FLAG" type="xs:string"/>
      <xs:element minOccurs="0" name="STATISTICS_REASON" type="xs:string"/>
      <xs:element minOccurs="0" name="STATUSCODE" type="xs:string"/>
      <xs:element minOccurs="0" name="TAIL_NO" type="xs:string"/>
      <xs:element minOccurs="0" name="TAKEOFF_WEIGHT" type="xs:string"/>
      <xs:element minOccurs="0" name="TIME_STAMP" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="TOTAL_WEIGHT" type="xs:string"/>
      <xs:element minOccurs="0" name="VIPSVC_FLAG" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryServiceInfo" type="tns:queryServiceInfo"/>
  <xs:complexType name="queryServiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:serviceInfoRQ"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryServiceInfoResponse" type="tns:queryServiceInfoResponse"/>
  <xs:complexType name="queryServiceInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:serviceInfoRS"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryServiceInfo">
    <wsdl:part element="tns:queryServiceInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServiceInfoResponse">
    <wsdl:part element="tns:queryServiceInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceInfoServicePortType">
    <wsdl:operation name="queryServiceInfo">
      <wsdl:input message="tns:queryServiceInfo" name="queryServiceInfo">
    </wsdl:input>
      <wsdl:output message="tns:queryServiceInfoResponse" name="queryServiceInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceInfoServiceSoapBinding" type="tns:ServiceInfoServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryServiceInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryServiceInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryServiceInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceInfoService">
    <wsdl:port binding="tns:ServiceInfoServiceSoapBinding" name="ServiceInfoServicePort">
      <soap:address location="http://172.31.3.194:7602/basiccs/ws/com.ceair.pss.basic.service.ServiceInfoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>