workspace/wsdlold/35wsdl/VariableCostService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="VariableCostService" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="variableCostSearchInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="SEARCH_ITEM" type="tns:SEARCH_ITEM"/>
      <xs:element minOccurs="0" name="USR_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="USR_PWD" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SEARCH_ITEM">
    <xs:sequence>
      <xs:element minOccurs="0" name="QUERY_DATE_TIME" type="xs:string"/>
      <xs:element minOccurs="0" name="OP_AIRPORT_CODE" type="xs:string"/>
      <xs:element minOccurs="0" name="SUBTYPE" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RTN_FLIGHTDATA_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FLIGHTDATA_ERR_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="FLIGHTDATA_ERR_MSG" type="xs:string"/>
      <xs:element minOccurs="0" name="FLIGHTDATA_LISTINFO" type="tns:FLIGHTDATA_LISTINFO"/>
      <xs:element minOccurs="0" name="USR_ID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLIGHTDATA_LISTINFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FLIGHTDATA_COSTLIST_T-1" type="tns:costListT1"/>
      <xs:element minOccurs="0" name="FLIGHTDATA_COSTLIST_T" type="tns:costListT2"/>
      <xs:element minOccurs="0" name="FLIGHTDATA_COSTLIST_T1" type="tns:costListT3"/>
      <xs:element minOccurs="0" name="FLIGHTDATA_COSTLIST_T2" type="tns:costListT4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="costListT1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="FLIGHTDATA_COST_T-1" type="tns:variableCost"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="variableCost">
    <xs:sequence>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CREATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="c_AC_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_AGENT_FEE_ALLIANCE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_AGENT_FEE_BASE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_AGENT_FEE_CHANNEL_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_AGENT_FEE_C_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_AGENT_FEE_RETURN_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_AGENT_FEE_Z_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_AGENT_PT_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_AIR_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_APPROACH_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_BDCB_TOTAL" type="xs:double"/>
      <xs:element minOccurs="0" name="c_BRIDGE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_CMS_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_CM_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_CREW_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DADD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DAIR_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DAPRON_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DBRIDGELOAD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DCARGO_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DCOMMUNICA_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DDESAIR_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DDES_ADD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DDES_APRON_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DDES_BRIDGELOAD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DDES_COMMUNICA_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DDES_KGT_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DDES_SEC_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DDES_SERBACK_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DDES_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DDSYSTEM_TOTAL" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DEPRECIATION_TOTAL" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DES_BRIDGE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DES_CARGO_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DES_LAND_ADD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DES_LAND_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DES_PARK_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DGROUND_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DISYSTEM_TOTAL" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DKGT_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DORIAIR_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DORI_ADD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DORI_APRON_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DORI_BRIDGELOAD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DORI_COMMUNICA_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DORI_KGT_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DORI_SEC_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DORI_SERAGO_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DORI_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DOTHER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DSEC_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DSER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_DVIP_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_FLYING_ALLOWANCE_TOTAL" type="xs:double"/>
      <xs:element minOccurs="0" name="c_FUEL_TOTAL" type="xs:double"/>
      <xs:element minOccurs="0" name="c_FUND_FEE_TOTAL" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IAC_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IADD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IAIR_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IAIR_TAXE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IAPPROACH_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IBP_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IBRIDGE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ICM_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ICM_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IDESAIR_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IDES_ADD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IDES_BRIDGE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IDES_GS_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IDES_LAND_ADD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IDES_LAND_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IDES_PARK_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IDES_PASSENGER_CAR_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IDES_SHUTTLE_BUS_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IGROUND_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IGS_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ILAND_ADD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ILAND_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ILIGHT_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ILUGGAGE_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_INOISE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_INQ_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IORIAIR_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IORI_ADD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IORI_BRIDGE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IORI_GS_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IORI_LAND_ADD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IORI_LAND_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IORI_PARK_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IORI_PASSENGER_CAR_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IORI_SHUTTLE_BUS_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IOTHER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IPARK_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IPASSENGER_CAR_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IPASSENGER_SECURITY_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IPASSENGER_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IROUTE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ISEC_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ISER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ISHUTTLE_BUS_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ISYSTEM_TOTAL" type="xs:double"/>
      <xs:element minOccurs="0" name="c_IVIP_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_LAND_ADD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_LAND_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_LAND_TOTAL" type="xs:double"/>
      <xs:element minOccurs="0" name="c_MAC_OFF_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_MAINTENANCE_TOTAL" type="xs:double"/>
      <xs:element minOccurs="0" name="c_MEALS_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_NAIR_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_NM_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_OFFERING_TOTAL" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ORI_BRIDGE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ORI_CARGO_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ORI_LAND_ADD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ORI_LAND_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ORI_PARK_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_OTHER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_PARK_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_PASSENGER_SECURITY_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_PASSENGER_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_ROUTE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_SAPPROACH_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_SBRIDGE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_SECURITY_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_SER_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_SLAND_ADD_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_SLAND_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_SPARK_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_SROUTE_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="c_SYSTEM_TOTAL" type="xs:double"/>
      <xs:element minOccurs="0" name="c_TRAVEL_TOTAL" type="xs:double"/>
      <xs:element minOccurs="0" name="c_UNIT_FEE" type="xs:double"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLIGHT_ID" type="xs:int"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="SUBTYPE" type="xs:string"/>
      <xs:element minOccurs="0" name="TAIL_NO" type="xs:string"/>
      <xs:element minOccurs="0" name="UPDATED_TIME" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="costListT2">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="FLIGHTDATA_COST_T" type="tns:variableCost"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="costListT3">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="FLIGHTDATA_COST_T1" type="tns:variableCost"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="costListT4">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="FLIGHTDATA_COST_T2" type="tns:variableCost"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="search" type="tns:search"/>
  <xs:complexType name="search">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:variableCostSearchInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="searchResponse" type="tns:searchResponse"/>
  <xs:complexType name="searchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:RTN_FLIGHTDATA_INFO"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="searchResponse">
    <wsdl:part element="tns:searchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part element="tns:search" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="VariableCostServicePortType">
    <wsdl:operation name="search">
      <wsdl:input message="tns:search" name="search">
    </wsdl:input>
      <wsdl:output message="tns:searchResponse" name="searchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VariableCostServiceSoapBinding" type="tns:VariableCostServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="search">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VariableCostService">
    <wsdl:port binding="tns:VariableCostServiceSoapBinding" name="VariableCostServicePort">
      <soap:address location="http://172.31.3.194:7602/basiccs/ws/com.ceair.pss.basic.service.VariableCostService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>