workspace/wsdlfile/todo/E-HR主数据.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ehr.ceair.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MasterDataServiceImplService" targetNamespace="http://service.ehr.ceair.com/">
  <wsdl:types>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.ehr.ceair.com/" targetNamespace="http://service.ehr.ceair.com/" version="1.0">
	  <xs:complexType name="masterData">
		<xs:sequence>
		  <xs:element minOccurs="0" name="label" type="tns:masterMetaData"/>
		  <xs:element maxOccurs="unbounded" minOccurs="0" name="rows" nillable="true" type="tns:masterMetaData"/>
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="masterMetaData">
		<xs:sequence>
		  <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="xs:string"/>
		</xs:sequence>
	  </xs:complexType>
	</xs:schema>
  </wsdl:types>
  
  <wsdl:message name="getMasterDataByTableResponse">
    <wsdl:part name="return" type="tns:masterData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMasterDataByTable">
    <wsdl:part name="arg0" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="arg1" type="xsd:int">
    </wsdl:part>
    <wsdl:part name="arg2" type="xsd:int">
    </wsdl:part>
    <wsdl:part name="arg3" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="arg4" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IMasterDataService">
    <wsdl:operation name="getMasterDataByTable">
      <wsdl:input message="tns:getMasterDataByTable" name="getMasterDataByTable">
    </wsdl:input>
      <wsdl:output message="tns:getMasterDataByTableResponse" name="getMasterDataByTableResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MasterDataServiceImplServiceSoapBinding" type="tns:IMasterDataService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMasterDataByTable">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getMasterDataByTable">
        <soap:body namespace="http://service.ehr.ceair.com/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMasterDataByTableResponse">
        <soap:body namespace="http://service.ehr.ceair.com/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MasterDataServiceImplService">
    <wsdl:port binding="tns:MasterDataServiceImplServiceSoapBinding" name="MasterDataServiceImplPort">
      <soap:address location="http://ehrinterface01.ceair.com:8080/master-data-service/service/master-data-service.jws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>