workspace/wsdlfile/35wsdl/DcsSegService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DcsSegService" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="dcsSegRQ">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="queryDetailInformation" nillable="true" type="tns:queryDetailInformation"/>
      <xs:element minOccurs="0" name="usrID" type="xs:string"/>
      <xs:element minOccurs="0" name="usrPwd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryDetailInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT_END" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT_START" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dcsSegRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="dcs" nillable="true" type="tns:dcsSeg"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dcsSeg">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADULT_QTY" type="xs:int"/>
      <xs:element minOccurs="0" name="AVIH_QTY" type="xs:int"/>
      <xs:element minOccurs="0" name="BAG_PIECES" type="xs:int"/>
      <xs:element minOccurs="0" name="BAG_WEIGHT" type="xs:double"/>
      <xs:element minOccurs="0" name="BED_QTY" type="xs:int"/>
      <xs:element minOccurs="0" name="BOOKED_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="BOOKED_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="BOOKED_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CET_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="CET_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="CET_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="CHECKIN_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="CHECKIN_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="CHECKIN_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="CHILD_QTY" type="xs:int"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="EXST_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="EXST_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="EXST_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="FLT_ID" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="INFANT_QTY" type="xs:int"/>
      <xs:element minOccurs="0" name="JUMP_SEAT_QTY" type="xs:int"/>
      <xs:element minOccurs="0" name="LEG_FLAG" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="PETC_PCS" type="xs:int"/>
      <xs:element minOccurs="0" name="RET_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="RET_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="RET_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="SA_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="SA_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="SA_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="STANDBY_BAGGAGE_PCS" type="xs:int"/>
      <xs:element minOccurs="0" name="STANDBY_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="STANDBY_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="STANDBY_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="UM_QTY" type="xs:int"/>
      <xs:element minOccurs="0" name="UPDATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="WCH_QTY" type="xs:int"/>
      <xs:element minOccurs="0" name="XCR_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="XCR_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="XCR_QTY_Y" type="xs:int"/>
      <xs:element minOccurs="0" name="ZCR_QTY_C" type="xs:int"/>
      <xs:element minOccurs="0" name="ZCR_QTY_F" type="xs:int"/>
      <xs:element minOccurs="0" name="ZCR_QTY_Y" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryDcsSeg" type="tns:queryDcsSeg"/>
  <xs:complexType name="queryDcsSeg">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dcsSegRQ"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryDcsSegResponse" type="tns:queryDcsSegResponse"/>
  <xs:complexType name="queryDcsSegResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dcsSegRS"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryDcsSegResponse">
    <wsdl:part element="tns:queryDcsSegResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryDcsSeg">
    <wsdl:part element="tns:queryDcsSeg" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DcsSegServicePortType">
    <wsdl:operation name="queryDcsSeg">
      <wsdl:input message="tns:queryDcsSeg" name="queryDcsSeg">
    </wsdl:input>
      <wsdl:output message="tns:queryDcsSegResponse" name="queryDcsSegResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DcsSegServiceSoapBinding" type="tns:DcsSegServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryDcsSeg">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryDcsSeg">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryDcsSegResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DcsSegService">
    <wsdl:port binding="tns:DcsSegServiceSoapBinding" name="DcsSegServicePort">
      <soap:address location="http://172.31.3.194:7602/basiccs/ws/com.ceair.pss.basic.service.DcsSegService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>