workspace/wsdlfile/35wsdl/DynamicsTmService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DynamicsTmService" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="dynamicsTmRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="dynamicsTmQueryInfo" type="tns:dynamicsTmQueryInfo"/>
      <xs:element minOccurs="0" name="usrID" type="xs:string"/>
      <xs:element minOccurs="0" name="usrPwd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dynamicsTmQueryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:string"/>
      <xs:element minOccurs="0" name="RQ_APP" type="xs:string"/>
      <xs:element minOccurs="0" name="UPDATED_TIME" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dynamicsTmRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="inBound" nillable="true" type="tns:dynamicsTm"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="outBound" nillable="true" type="tns:dynamicsTm"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dynamicsTm">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTUAL_ARR_AIRPORT" type="xs:string"/>
      <xs:element minOccurs="0" name="ACTUAL_ARR_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ACTUAL_DPT_AIRPORT" type="xs:string"/>
      <xs:element minOccurs="0" name="ACTUAL_DPT_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="AGENT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="AGENT_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="AIRCRAFT_TYPE_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DEST_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="ARR_GATE" type="xs:string"/>
      <xs:element minOccurs="0" name="ARRIVAL_AC_POS" type="xs:string"/>
      <xs:element minOccurs="0" name="ARRIVAL_TERMINAL" type="xs:string"/>
      <xs:element minOccurs="0" name="AT_BRIDGE" type="xs:int"/>
      <xs:element minOccurs="0" name="BAG_CLAIM" type="xs:string"/>
      <xs:element minOccurs="0" name="BLOCK_OFF_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BLOCK_ON_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BOARD_BEGIN_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BOARD_END_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BOARDING_GATE_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="BRIDGE_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="BRIDGE_TYPE" type="xs:int"/>
      <xs:element minOccurs="0" name="CABIN_CLOSE_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CABIN_OPEN_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CARGO_CLOSE_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CARGO_OPEN_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CARRIER_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CHECKIN_COUNTER" type="xs:string"/>
      <xs:element minOccurs="0" name="CREATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="CRW_DEP_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CRW_DEP_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="DELAY_DURATION_ACT" type="xs:int"/>
      <xs:element minOccurs="0" name="DELAY_DURATION_EST" type="xs:int"/>
      <xs:element minOccurs="0" name="DEST_SLIDING" type="xs:int"/>
      <xs:element minOccurs="0" name="DPT_AC_POS" type="xs:string"/>
      <xs:element minOccurs="0" name="ORIG_AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="DPT_TERMINAL" type="xs:string"/>
      <xs:element minOccurs="0" name="EST_ARRIVAL_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EST_DEPART_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_DEP_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DEP_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_DT" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FLT_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_NBR_SFX" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_STATUS" type="xs:string"/>
      <xs:element minOccurs="0" name="FLT_TYPE" type="xs:string"/>
      <xs:element minOccurs="0" name="FLY_STATUS" type="xs:string"/>
      <xs:element minOccurs="0" name="HANDLING_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="LEG_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="OPTIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ORIG_SLIDING" type="xs:int"/>
      <xs:element minOccurs="0" name="PLAN_ARR_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PLAN_DEPART_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PRT_DEP_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="PRT_DEP_NAME" type="xs:string"/>
      <xs:element minOccurs="0" name="REASON" type="xs:string"/>
      <xs:element minOccurs="0" name="REMARK" type="xs:string"/>
      <xs:element minOccurs="0" name="SRV_TYPE" type="xs:string"/>
      <xs:element minOccurs="0" name="TAIL_NO" type="xs:string"/>
      <xs:element minOccurs="0" name="UPDATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="VIP_FLAG" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryDynamicsTm" type="tns:queryDynamicsTm"/>
  <xs:complexType name="queryDynamicsTm">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dynamicsTmRQ"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryDynamicsTmResponse" type="tns:queryDynamicsTmResponse"/>
  <xs:complexType name="queryDynamicsTmResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dynamicsTmRS"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryDynamicsTm">
    <wsdl:part element="tns:queryDynamicsTm" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryDynamicsTmResponse">
    <wsdl:part element="tns:queryDynamicsTmResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DynamicsTmServicePortType">
    <wsdl:operation name="queryDynamicsTm">
      <wsdl:input message="tns:queryDynamicsTm" name="queryDynamicsTm">
    </wsdl:input>
      <wsdl:output message="tns:queryDynamicsTmResponse" name="queryDynamicsTmResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DynamicsTmServiceSoapBinding" type="tns:DynamicsTmServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryDynamicsTm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryDynamicsTm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryDynamicsTmResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DynamicsTmService">
    <wsdl:port binding="tns:DynamicsTmServiceSoapBinding" name="DynamicsTmServicePort">
      <soap:address location="http://172.31.3.194:7602/basiccs/ws/com.ceair.pss.basic.service.DynamicsTmService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>