workspace/wsdlfile/35wsdl/StopService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="StopService" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.basic.pss.ceair.com/" xmlns:tns="http://service.basic.pss.ceair.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="stopRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="stopQuery" type="tns:stopQuery"/>
      <xs:element minOccurs="0" name="usrID" type="xs:string"/>
      <xs:element minOccurs="0" name="usrPwd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stopQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="STATUS" type="xs:string"/>
      <xs:element minOccurs="0" name="TAIL_NO" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stopRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="stop" nillable="true" type="tns:stop"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stop">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACT_END_DATE" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ACT_START_DATE" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="AIRPORT_CD" type="xs:string"/>
      <xs:element minOccurs="0" name="CARRIER" type="xs:string"/>
      <xs:element minOccurs="0" name="CREATED_TIME" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PLAN_END_DATE" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PLAN_START_DATE" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="REPAIR_DEP" type="xs:string"/>
      <xs:element minOccurs="0" name="STATUS" type="xs:string"/>
      <xs:element minOccurs="0" name="STOP_DESC" type="xs:string"/>
      <xs:element minOccurs="0" name="STOP_ID" type="xs:string"/>
      <xs:element minOccurs="0" name="TAIL_NO" type="xs:string"/>
      <xs:element minOccurs="0" name="UPDATED_TIME" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryStop" type="tns:queryStop"/>
  <xs:complexType name="queryStop">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:stopRQ"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryStopResponse" type="tns:queryStopResponse"/>
  <xs:complexType name="queryStopResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:stopRS"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryStopResponse">
    <wsdl:part element="tns:queryStopResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryStop">
    <wsdl:part element="tns:queryStop" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StopServicePortType">
    <wsdl:operation name="queryStop">
      <wsdl:input message="tns:queryStop" name="queryStop">
    </wsdl:input>
      <wsdl:output message="tns:queryStopResponse" name="queryStopResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StopServiceSoapBinding" type="tns:StopServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryStop">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryStop">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryStopResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StopService">
    <wsdl:port binding="tns:StopServiceSoapBinding" name="StopServicePort">
      <soap:address location="http://172.31.3.194:7602/basiccs/ws/com.ceair.pss.basic.service.StopService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>